.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslateblue;
    padding: 10px;
  }
  
  .mobile-nav button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .mobile-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    --display-value: block;
    display: var(--display-value);
  }
  
  .mobile-nav ul li {
    padding: 10px;
  }
  
  /* Additional styling for links in mobile navigation */
  .mobile-nav a {
    text-decoration: none;
    color: white;
  }
  